<% include header %>
  <div>
    <p>User ID: <%= user.id %></p>
    <p>Full Name: <%= user.fullName %></p>
    <p>Email: <%= user.username %></p>
    <p>Password Hash: <%= user.password %></p>
  </div>
<% include footer %>
